@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  padding: 0;
  outline: none;
  text-decoration: none;
  color: #292929;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

header {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.06em;
}

form {
  height: 200px;
}

.form-wrapper {
  height: 300px;
}

hr {
  width: 100%;
  height: 3px;
  background-color: #499930;
  border: none;
}

.teller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teller i {
  margin-right: 10px;
  font-size: 40px;
}

i {
  font-size: 30px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  list-style: none;
}

.active,
li :hover {
  color: #499930;
  text-decoration: underline;
}

.convert-wrapper {
  width: 40rem;
  height: 20rem;
  border: 3px solid #1c1d21;
  border: 3px solid #499930;
  border-radius: 20px;
  margin: 5% auto 40px;
}

.remaining {
  width: 40rem;
  height: 15rem;
  margin: 2.5rem auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  width: 9rem;
  height: 35px;
  border-radius: 10px;
  font-size: 15px;
}

.exit {
  position: absolute;
  right: 25%;
}

.clear {
  position: absolute;
  left: 25%;
}

.convert {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2rem 4rem 2rem;
  -ms-grid-columns: (auto)[5];
      grid-template: 2rem 4rem 2rem/repeat(5, auto);
      grid-template-areas: "up down sum course total" "hr hr hr hr hr" "curr1 curr2 numsum numcurrency numtotal";
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
  row-gap: 0.1rem;
  padding-top: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 300px;
  width: 600px;
}

.light {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: hr;
  width: 600px;
  height: 1px;
  background-color: gray;
  margin: 7% 0 9%;
}

#up {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: up;
}

#down {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: down;
}

.first {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: curr1;
}

.second {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: curr2;
}

.summ {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: sum;
}

.course {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: course;
}

.total {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: total;
}

.num-summ {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: numsum;
}

.num-course {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: numcurrency;
}

.num-total {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: numtotal;
}

select {
  width: 135px;
  height: 25px;
  border-radius: 10px;
}

input {
  width: 100px;
  height: 25px;
  border-radius: 10px;
}

.calc {
  font-size: 20px;
}

.error {
  color: red;
}

.okay {
  color: #5cdb95;
}

.operation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 26px;
          column-gap: 26px;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
      grid-template-areas: ". date from-text to-text sum-text ." ". date from to sum .";
}

.date {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: date;
}

.from-text {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: from-text;
}

.from {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: from;
}

.to-text {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: to-text;
}

.to {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: to;
}

.sum-text {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: sum-text;
}

.sum {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: sum;
}
