@import "mixins";
@import "vars";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  padding: 0;
  outline: none;
  text-decoration: none;
  color: #292929;
}

.wrapper {
  // margin: 0 8rem;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

header {
  padding: 0 10%;
  // width: auto;
  display: flex;
  justify-content: space-between;
  // margin: 0.2rem 8rem;
  @include header(20px, 36px);
  // width: 100%;
  // border-bottom: 3px solid $stress;
}

hr {
  width: 100%;
    height: 3px;
    background-color: $stress;
    border: none;
}

.teller {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;

  i {
    margin-right: 10px;
    font-size: 40px;
  }
}

i {
  font-size: 30px;
}

ul {
  display: flex;
  column-gap: 1rem;
  list-style: none;
}

.active,
li :hover {
  color: $stress;
  border-bottom: 3px solid $stress;
}

.convert-wrapper {
  width: 40rem;
  height: 20rem;
  border: 3px solid #1c1d21;
  border: 3px solid $stress;
  border-radius: 20px;
  margin: 5% auto 40px;
}

.remaining {
  width: 40rem;
  height: 15rem;
  margin: 2.5rem auto;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center ;
}

.item {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

button {
  width: 9rem;
  height: 2.5rem;
  position: absolute;
  right: 10%;
  border-radius: 10px;
  font-size: 15px;
}

.convert {
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template: 2rem 4rem 2rem / repeat(5, auto);
  grid-template-areas:
    "up down sum course total"
    "hr hr hr hr hr"
    "curr1 curr2 numsum numcurrency numtotal";
  column-gap: 0.5rem;
  row-gap: 0.1rem;
  padding-top: 10%;
  align-items: center;
  justify-items: center;
  height: 200px;
  width: 600px;
}

.light {
  grid-area: hr;
  width: 600px;
  height: 1px;
  background-color: gray;
  margin:7% 0 9%;
}

#up {
  grid-area: up;
}

#down {
  grid-area: down;
}

.first {
  grid-area: curr1;
}
.second {
  grid-area: curr2;
}
.summ {
  grid-area: sum;
  // padding: 0 20px;
}
.course {
  grid-area: course;
}
.total {
  grid-area: total;
}
.num-summ {
  grid-area: numsum;
}
.num-course {
  grid-area: numcurrency;
}
.num-total {
  grid-area: numtotal;
}

select {
    width: 135px;
    height: 25px;
    border-radius: 10px;
}

input {
  width: 100px;
  height: 25px;
  border-radius: 10px;
}

.calc {
  font-size: 20px;
}

.error {
  color: red;
}

.okay {
  color: $okay;
}


