@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  padding: 0;
  outline: none;
  text-decoration: none;
  color: #292929;
}

.wrapper {
  margin: 0 8rem;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.2rem 8rem;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.06em;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #3d5a5b;
}

.teller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teller i {
  margin-right: 10px;
  font-size: 40px;
}

i {
  font-size: 30px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  list-style: none;
}

.active,
li a:hover {
  color: #3d5a5b;
  border-bottom: 2px solid #3d5a5b;
}

.convert-wrapper {
  width: 40rem;
  height: 20rem;
  margin: 10% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.convert-wrapper hr {
  height: 1px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 30rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item div {
  font-weight: bold;
  font-size: 25px;
}

.rem {
  padding: 0 50px;
}

.rem hr {
  width: 32rem;
}
